<div id="<%= dom_id employee %>">
  <p>
    <%= employee.name %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= employee.phone %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= employee.cpf %>
  </p>

  <p>
    <strong>Setor:</strong>
    <%= "#{employee.sector_id} - #{employee.sector.name}" %>
  </p>

</div>
