<%= render partial: "shared/appBar" %>
<div class="page-container">
  <p style="color: green"><%= notice %></p>
  <%= render @employee %>
  <div>
    <%= link_to "Editar", edit_employee_path(@employee) %> |
    <%= link_to "Funcionários", employees_path %>
    <%= button_to "Deletar", @employee, method: :delete , class:"btn btn-danger"%>
  </div>
</div>
