<script>
  // Acesso à webcam
  // navigator.mediaDevices
  // .getUserMedia({ video: true })
  // .then(function (stream) {
  //   // Associar o stream da webcam ao elemento <video>
  //   var videoElement = document.getElementById("webcam");
  //   videoElement.srcObject = stream;
  // })
  // .catch(function (error) {
  //   console.error("Erro ao acessar a webcam: ", error);
  // });
</script>
<%= form_with(model: visitor) do |form| %>
  <% if visitor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>
      <ul>
        <% visitor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>
  <div>
    <%= form.label :rg, style: "display: block" %>
    <%= form.text_field :rg %>
  </div>
  <div>
    <%= form.label :telefone, style: "display: block" %>
    <%= form.text_field :telefone %>
  </div>
  <div>
    <%#= form.label :foto, style: "display: block" %>
    <%#= form.text_area :foto %>
  </div>
  <div class="field">
    <%#= form.label :foto %>
    <%= form.file_field :foto,style: "display:none;", id: "webcam_photo_field" %>
  </div>
  <%# <button id="refreshButton">Ligar WebCam</button> %>
  <span class="span-title">Caso a camera não apareça abaixo, por favor aperte f5 e caso continue ligada em outra pagina aperte f5 novamente</span>
  <div>
    <video id="webcam" width="320" height="240" autoplay playsinline class="rounded"></video>
    <canvas id="canvas" width="320" height="240" class="rounded"></canvas>
  </div>
  <!-- Botão para capturar a imagem -->
  <button id="captureButton" type="button" class="btn btn-primary">Capturar Imagem</button>
  <%#= image_tag(visitor.foto_url.to_s) %>
  <%# <div class="form-group"> %>
  <%#= form.label :sectors %>
  <%#= form.collection_select :sector_ids, Sector.all, :id, :name, {}, { multiple: true, class: 'form-control' } %>
  <%# </div> %>
  <div>
    <%= form.submit class:"btn btn-success"%>
  </div>
<% end %>
