<%= form_with(model: visitor) do |form| %>
  <% if visitor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
        <% visitor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :rg, style: "display: block" %>
    <%= form.text_field :rg %>
  </div>

  <div>
    <%= form.label :telefone, style: "display: block" %>
    <%= form.text_field :telefone %>
  </div>

  <div>
    <%= form.label :foto, style: "display: block" %>
    <%= form.text_area :foto %>
  </div>
 <%# <div class="form-group"> %>
    <%#= form.label :sectors %>
    <%#= form.collection_select :sector_ids, Sector.all, :id, :name, {}, { multiple: true, class: 'form-control' } %>
  <%# </div> %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
