<div id="<%= dom_id visitor %>">
  <p>
    <strong>Name:</strong>
    <%= visitor.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= visitor.cpf %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= visitor.rg %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= visitor.telefone %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%# <%= visitor.foto %> %>
  </p>
  <%= image_tag(visitor.foto_url.to_s) %>
</div>
