<%= render partial: "shared/appBar" %>
<div class="page-container">
  <p style="color: green"><%= notice %></p>
  <h1>Visitantes</h1>
  <div class="d-flex justify-content-end ">
    <% if can? :create, Visitor %>
      <%= link_to "Novo Visitante", new_visitor_path, class:"btn btn-primary"%>
    <% end %>
  </div>
  <div id="visitors" class="visitor-list">
    <% @visitors.each do |visitor| %>
      <div class="visitor-card">
        <%= render visitor %>
        <div class="d-flex justify-content-end action-group align-bottom">
          <p>
            <% if can? :update, Visitor %>
              <%= link_to "+", visitor , class:"btn btn-primary" %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
