<%= render partial: "shared/appBar" %>
<p style="color: green"><%= notice %></p>
<h1>Visitantes</h1>
<div id="visitors">
  <%= link_to "New visitor", new_visitor_path, class:"btn btn-primary"%>
  <% @visitors.each do |visitor| %>
    <%= render visitor %>
    <p>
      <%= link_to "Show this visitor", visitor %>
    </p>
  <% end %>
</div>
