<%= render partial: "shared/appBar" %>
<div class="show-visitor">
  <p style="color: green"><%= notice %></p>
  <%= render @visitor %>
  <div>
    <%= link_to "Editar", edit_visitor_path(@visitor) %> |
    <%= link_to "Visitantes", visitors_path %>
    <%= button_to "Deletar", @visitor, method: :delete,class:"btn btn-danger" %>
  </div>
</div>
