<%= render partial: "shared/appBar" %>
<div id="visits" class="page-container">
  <p style="color: green"><%= notice %></p>
  <h1>Visitas</h1>
  <div class="d-flex flex-row-reverse ">
    <% if can? :create, Visitor %>
      <%= link_to "Nova Visita", new_visit_path, class:"btn btn-primary mx-2" %>
    <% end %>
  </div>
  <hr/>
  <% @visits.reverse().each do |visit| %>
    <%= render visit %>
    <p>
      <% if can? :update, Visit %>
        <%= link_to "+", visit %>
      <% end %>
    </p>
  <% end %>
</div>
