<%= render partial: "shared/appBar" %>
<p style="color: green"><%= notice %></p>
<h1>Visitas</h1>
<%= link_to "New visit", new_visit_path %>
<hr/>
<div id="visits">
  <% @visits.each do |visit| %>
    <%= render visit %>
    <p>
      <%= link_to "Show this visit", visit %>
    </p>
  <% end %>
</div>
