<%= render partial: "shared/appBar" %>
<div id="visits" class="page-container">
  <p style="color: green"><%= notice %></p>
  <h1>Visitas</h1>
  <div class="d-flex flex-row-reverse ">
    <%= link_to "Nova Visita", new_visit_path, class:"btn btn-primary mx-2" %>
  </div>
  <hr/>
  <% @visits.reverse().each do |visit| %>
    <%= render visit %>
    <p>
      <%= link_to "+", visit %>
    </p>
  <% end %>
</div>
