<%= render partial: "shared/appBar" %>
<div id="visits" class="page-container">
  <p style="color: green"><%= notice %></p>
  <h1>Visitas</h1>
  <div class="d-flex flex-row-reverse ">
    <% if can? :create, Visitor %>
      <%= link_to "Nova Visita", new_visit_path, class:"btn btn-primary mx-2" %>
    <% end %>
  </div>
  <hr/>
  <div class="round-card">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Data</th>
          <th scope="col">Visitante</th>
          <th scope="col">Setor</th>
          <th scope="col">Funcionario</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% @visits.reverse().each do |visit| %>
          <%#= render visit %>

        <tr>
          <td scope="row"> <%= visit.id %></td>
          <td> <%= visit.visit_date %></td>
          <td> <%= visit.visitor.name %></td>
          <td> <%= visit.sector.name %></td>
          <td> <%= visit.employee.name %></td>
          <td>
            <% if can? :update, Visit %>
              <%= link_to "+", visit %>
            <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
