<%= render partial: "shared/appBar" %>
<div class="page-container">
  <p style="color: green"><%= notice %></p>
  <%= render @visit %>
  <div>
    <%= link_to "Editar", edit_visit_path(@visit) %> |
    <%= link_to "Visitas", visits_path %>
    <%= button_to "Deletar", @visit, method: :delete, class:"btn btn-danger" %>
  </div>
</div>
