<%= render partial: "shared/appBar" %>
<p style="color: green"><%= notice %></p>

<%= render @sector %>

<div>
  <%= link_to "Editar", edit_sector_path(@sector) %> |
  <%= link_to "Setores", sectors_path %>

  <%= button_to "Deletar", @sector, method: :delete,class:"btn btn-danger" %>
</div>
